@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");

.hero {
  max-height: 1000px;
  position: relative;
  padding: 3% 0 5% 0;
  color: #262626;
  background: url("../images/hero-bg.png") no-repeat center;
}
header {
  display: flex;
  justify-content: space-between;
}
.sticky {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1% 10% 1% 10%;
  background: rgba(255, 253, 253, 0.5);
  top: 0;
  left: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.hero__menu {
  display: flex;
  align-items: center;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #262626;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  max-width: 557px;
}
.menu__item {
  margin-right: 35px;
  padding: 1% 0 0 0;
  box-sizing: border-box;
}
.active {
  border-top: 2px solid #ff6033;
}

a {
  text-decoration: none;
  color: #262626;
}
.menu__item:last-child {
  margin-right: 0;
}
.main {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding: 15% 15% 15% 0;
}
.main__name {
  font-family: Raleway;
  line-height: 25px;
  font-size: 60px;
  font-weight: 900;
}
.text {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  margin: 7% 0 7% 0;
}
.btn,
button {
  border: none;
  border-radius: 3px;
  width: 200px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;
}
.scroll {
  position: absolute;
  bottom: 10%;
  left: 48%;
}

/*ABOUT*/
.about {
  background-color: #00afaf;
  color: #ffffff;
  height: auto;
  padding: 7% 0 7% 0;
}
.about__container {
  display: flex;
  justify-content: space-between;
}

.about__picture {
  display: flex;
  width: 566px;
  height: 559px;
}
.description__name,
.name {
  font-size: 90px;
  font-weight: 700;
  line-height: 27px;
}
.about__description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
