@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
.contact-form {
  background: url("../images/contact-bg.png") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1500px;
  width:100%;
  height: 866px;
}
.contacn-form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-block {
  display: flex;
}
.name {
  height: 65px;
  color: #262626;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  line-height: 25px;
}
.contact-form__description {
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  width: 350px;
  line-height: 25px;
  text-align: center;
}
.contact-form__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 990px;
}
.contact-block__form input {
  width: 500px;
  height: 50px;
  background-color: #00c4c4;
  border: 5px solid transparent;
  box-sizing: border-box;
  opacity: 0.5;
  color: #ffffff;
  margin-bottom: 12px;
  border: hidden;
  padding-left: 15px;
}
.contact-block__form input:hover {
  opacity: 1;
  border-left: 5px solid #355b82;
}
input::placeholder {
  color: white;
}

.contact-block__form textarea {
  background-color: #00c4c4;
  border: 5px solid transparent;
  box-sizing: border-box;
  width: 500px;
  height: 250px;
  opacity: 0.5;
  color: #ffffff;
  border: transparent;
  padding-left: -15px;
}
.contact-block__form textarea:hover {
  opacity: 1;
  border-left: 5px solid #355b82;
}
.contact-block__contacts {
  color: #262626;
  font-family: Raleway;
  font-weight: 300;
}
.contact-block__contacts h4 {
  font-size: 17px;
  font-weight: 700;
}
.bold {
  font-size: 17px;
  font-weight: 700;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #262626;
  color: #b9b9b9;
  font-family: Raleway;
font-size: 16px;
font-weight: 300;
line-height: 25px;
}
.footer__logo {
  width: 64px;
  height: 27px;
  color: #b9b9b9;
}
.footer__creator-red {
  color: #d82a4f;
  font-weight: 700;
}
